node_modules
.DS_Store
.env
/server/debug.log
/server/vendor
/server/composer.lock
/server/composer.json
/server/vendor/composer
/server/vendor/composer/autoload_classmap.php
cleanup-wordpress.php
backup-wp.php
cleanup-backups.php
build/
deploy_temp/
deploy.sh
